html {
    height: 200%;
  }
  body{
    width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgb(59, 57, 58) 0%,
    rgb(34, 33, 33) 73%,
    rgba(68, 168, 208, 0.861) 27%,
    rgb(37, 38, 38) 100%
  );
    
    
  }
body {
    margin-left: 320px;
    margin-top: 150px;
    color: white;
    font-family: Monospace
}
h1 {
    color: white;
}
h7 {
color: black
}