body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgb(59, 57, 58) 0%,
    rgb(34, 33, 33) 73%,
    rgba(68, 168, 208, 0.861) 27%,
    rgb(37, 38, 38) 100%
  );
    
  
  
  
}
  
  

h1 {
  font-family: Verdana;
  font-style: italic;
  padding-left: 12vw;
  
  color: white;
  font-size: 3vw;
}
h2 {
  font-family: Verdana;
  font-style: italic;
  padding-left: 21.56vw;
  margin-top: -2.9vw;
  color: white;
  font-size: 3vw;
}
  h3 {
    color: white;
    font-family: Monospace;
    width: 30vw;
    font-size: 1vw;
    padding-left: 20vw;
    
    margin-top: 3vw;
    line-height: 1.6;
  }
  hr {
    margin-left: 10vw;
    padding-right: 35vw;
    border-radius: 100px;
    min-width: 40px;
    color: #44a8d0;
  }
  img {
    margin-left: 60vw;
    margin-top: -23vw;
    -moz-box-shadow: 0px 6px 5px rgb(214, 38, 38);
  -webkit-box-shadow: 0px 6px 5px rgb(197, 49, 49);
  box-shadow: 0px 30px 50px #44a8d061;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }
  table {
    margin-left: 45vw;
    margin-top: 4vw;
  }
  h5 {
    color: white;
    font-family: verdana;
    font-size: 2vw;
  }
  fieldset {
    margin-top: 100px;
    border-color: rgb(68, 168, 208);
    border-radius: 0px;
    margin-left: 10vw;
    margin-right: 46vw;
  }
  #show {
    color: white;
  }
  
   a {
    font-size: 2vw;
    margin-left: 4vw;
    font-family:Verdana;
    color: white;

   }
   .divider0 {
    
    margin-right:700px;
   }
   
   .divider {
    margin-right:690px;
   }

   .divider2 {
    margin-right:740px;
   }
   .divider3 {
    margin-right:790px;
   }
